.channel-list {
    background-color: #FFFFFF;
    border-right: 1px solid #E3E5E8;
    height: 100%;
    overflow-y: auto;
}

.channel-sidebar-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E3E5E8;
    color: #060607;
    font-weight: 600;
}