@inherits LayoutComponentBase

<div class="auth-background">

    <MudPaper Elevation="4" Class="pa-10 rounded-xl" Width="450px" Style="background-color: #ffffff;">

        @Body

    </MudPaper>
</div>