@inherits LayoutComponentBase
<MudThemeProvider/>
<div class="app-layout">
        <PrimarySidebar @bind-IsDirectMessageMode="_isDirectMessageMode"/>

        @if (!_isDirectMessageMode)
        {
            <aside class="secondary-nav"></aside>
        }

        <main class="chat-area">
            <TopChatBar/>
            @Body
        </main>
</div>

@code {
    private bool _isDirectMessageMode = true;
}