<div class="user-footer">
    <div class="user-info">
        <div class="avatar"><div class="status online"></div></div>
        <div class="user-details">
            <span class="username">Username</span>
            <span class="status-text">Online</span>
        </div>
    </div>
    <div class="user-actions">
        <MudIconButton Edge="Edge.End" Icon="@Icons.Material.Filled.Mic" Class="icon-mic" AriaLabel="Microphone" />
        <MudIconButton Edge="Edge.End" Icon="@Icons.Material.Filled.Headset" Class="icon-headset" AriaLabel="Headset" />
        <MudIconButton Edge="Edge.End" Icon="@Icons.Material.Filled.Settings" Class="icon-settings" AriaLabel="Settings"/>
    </div>
</div>