<div class="channel-sidebar">
    
    @if (SelectedServer == null)
    {
        <FriendSidebar OnDmOpened="HandleDmOpened" />
    }
    else
    {
        <ServerSidebar Server="SelectedServer" />
    }

    <UserProfileFooter />
</div>

@code {
    [Parameter] public ServerDto? SelectedServer { get; set; }
    private FriendshipDto? SelectedFriend { get; set; }

    private void HandleDmOpened(int friendId)
    {
        SelectedFriend?.FriendId = friendId;
    }
}