@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<div class="app-layout">
    <PrimarySidebar SelectedServer="_selectedServer" OnServerSelected="OnServerSelected" />
    <ChannelSidebar SelectedServer="_selectedServer" />

    <main class="chat-area">
        <TopChatBar />
        @Body
    </main>
</div>

@code {
    private ServerDto? _selectedServer;

    private void OnServerSelected(ServerDto? server)
    {
        _selectedServer = server;
    }
}
