@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<AuthorizeView>
    <Authorized>
        <div class="app-layout">
            <PrimarySidebar SelectedServer="_selectedServer" OnServerSelected="OnServerSelected"/>
            <ChannelSidebar SelectedServer="_selectedServer"/>

            <main class="chat-area">
                <TopChatBar/>
                @Body
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>
@code {
    private ServerDto? _selectedServer;

    private void OnServerSelected(ServerDto? server)
    {
        _selectedServer = server;
    }
}
