@inherits LayoutComponentBase
@inject NavigationState NavState
@inject IGlobalNotificationService Notifications
@using BlazorChat.Client.Features.Servers.Components
@implements IDisposable

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<AuthorizeView>
    <Authorized>
        <div class="app-layout">
            <PrimarySidebar />
            <ChannelSidebar />

            <main class="chat-area">
                <TopBar/>
                
                <div class="chat-content-flex-wrapper">
                    <div style="flex-grow: 1; display: flex; flex-direction: column; height: 100%; overflow: hidden;">
                        @Body
                    </div>

                    @if (NavState.SelectedServer != null)
                    {
                        <ServerMembersSidebar />
                    }
                </div>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>@Body</NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        Notifications.OnUserStatusChanged += HandleGlobalPresenceEvent;
        NavState.OnChanged += StateHasChanged;
    }
    
    private void HandleGlobalPresenceEvent(ReceiveUserStatusDto statusDto)
    {
        NavState.HandleUserStatusChanged(statusDto);
    }

    public void Dispose()
    {
        Notifications.OnUserStatusChanged -= HandleGlobalPresenceEvent;
        NavState.OnChanged -= StateHasChanged;  
    } 
}